ALCHEMY_API_KEY=
SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/your_ALCHEMY_API_KEY

# SoulKey deployment variables
NEXT_PUBLIC_VAULT_ADDRESS=0x... # deployed MasterKeyVault address
GAME_NAME=game_name
GAME_SYMBOL=game_symbol
GAME_SUPPLY=100
# required for the dynamic base URI
NEXT_PUBLIC_APP_URL=https://your_vercel_app_name.vercel.app
